* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#17351C, #6B8F71, #6A8D70, #2E4131);
    background-repeat: no-repeat;
    font-family: 'lato', Ariel, sans-serif;
    background-repeat: no-repeat;

}

main {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

/* 2. ---Main Nav--- */

#main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 #main-nav input, #burger-con {
    display: none;
 }

 label img {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
 }
 
/*   ~ sibling selector   */
 
 
 #main-nav input:checked ~ #burger-con {
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 .logo {
    margin: 20px;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #ffffff;
 }
 
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
    margin-right: -50px;
 }
 
 
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 } 

.logo {
    margin-top: 15px;
 }
 
.hero-image {
    margin: 0 auto;
}

h1 {
    color: white;
    font-family: lato;
    text-align: center;
}



.button-ex {
    width:  154px;
    height: 44px;
    background-color: #E1F3E6;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.line-separator {
    border-top: solid 3px white;
}

#main-head {
    font-size: 16px;

}

.text-main-mobile p {
    display: block;
    font-size: 32px;
    color: white;
    text-align: center;
    margin-top: 28px;

}

.text-main-tablet {
    display: none;
}

.premium {
    margin: 0 auto;
    color: white;
    font-size: 21px;
}


.display-pro {
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    /* background-color: #041E01; */
    background-color: #17351C;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
    margin: 0 auto;
}

.display-pro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#second {
    
}

.text-content {
    margin: 0 auto;
}


.text-content2 {
    margin: 0 auto;
    
}

.text-content3 {
    margin: 0 auto 30px auto;
}

.main-hero {
    height: 650px;
}



.product-card {
    text-align: center;
    margin: 20px 0;
}

.button {
    width:  154px;
    height: 44px;
    background-color: #E1F3E6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: white;
    margin: 0 auto;
}


.section-img {
    margin: 0 auto;
    width: 318px;
}




/* Contacts Page */

.contact-h1 {
    font-size: 24px;
    color: white;
}

.contact {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-con {

    padding: 20px 0;
    display: flex;
}

.icon-con .icon {
    min-width: 43px;
    height: 43px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-con .icon-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: white;
    font-size: 16px;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    height: 50px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0 10px 0;
    border: 2px solid green;
    outline: none;
    border-radius: 5px;
    resize: none;

}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    margin-top: -10px;
}

.contact p {
    font-size: 16px;
}

/* Footer */

.footer-col {
    padding: 20px auto;
    text-align: center;
}

.footer-col ul {
    list-style: none;
    padding: 0;
} 

.footer-col h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
    position: relative;
}

.footer-col ul li {
    margin-bottom: 15px;
}


.footer-col h4::before {
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 75px;
    margin-top: 50px;
}

.footer-col ul li a {
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    opacity: 50%;
}

.footer-col ul li a:hover {
    opacity: 100%;
    padding-left: 8px;
}

.footer-col .social-links a {
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: white;
     color: #3D5E43;
     margin: 0 10px 10px 0px;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     transition: all 0.3s ease;
     opacity: 50%;
}

.footer-col .social-links a:hover {
    opacity: 100%;
    background-color: #3D5E43;
    color: white ; 
}

/* Product */

/* .content-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
} */

.content-pro h4, 
.content-pro p {
    margin-top: 10px;
}

.container-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155px;
    width: 155px;
    background-color: #3D5E43;
    border-radius: 50%;
    margin: 0 auto;
}

.container-pro img {
    width: auto;
    height: 100%;
}